.contato {
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo {
    font-size: 18px;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 1em 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
}

.contato__email::placeholder {
    background: url('../img/icons/Email.svg') no-repeat;
    background-position: left;
    font-family: var(--font-principal);
    padding-left: 2.5em;
    color: var(--azul);
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }
    .contato__email {
        width: 30%;
    }
    .contato__descricao {
        margin-right: 1em;
        width: 30%;
    }
    .contato__titulo {
        font-size: 24px;
        font-weight: 500;
    }
}
@media screen and (min-width: 1728px) {

    .contato__email {
        width: 20%;
    }
    .contato__descricao {
        margin-right: 1em;
        width: 23%;
    }
    .contato__titulo {
        font-size: 24px;
    }
}