.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url('../img/icons/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}
.container__nome {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao {
    display: none;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
    z-index: 10;
}

.lista-menu__titulo {
    color: var(--cor-titulo-menu);
    font-size: 16px;
    font-weight: 700;
}

.lista-menu__item {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin: -1px;
}

.lista-menu__link {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.opcoes {
    display: none;
}


@media screen and (min-width: 1024px) {
    .container__nome {
        display: block;
        font-family: var(--fonte-josefin);
        font-size: 30px;
        color: var(--preto);

    }
    .container__nome--negrito {
        font-weight: 700;
    }
    .opcoes {
        display: flex;
    }
    .opcoes__item {
        margin: 0 1.5em;
        color: var(--preto);
        text-transform: uppercase;
    }
    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }
    .container__imagem--favoritos {
        display: none;
    }
    .cabecalho__menu-hamburguer {
        display: none;
    }
    .opcoes__botao:checked~.lista-menu {
        display: block;
    }
    .opcoes__botao {
        display: none;
    }
    .lista-menu {
        width: auto;
    }
    
}