@import url("header.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@300;400;500;700&family=Roboto:wght@100&display=swap');
@import url('banner.css');
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --cor-titulo-menu: #EB9B00;
    --fonte-principal: 'Poppins';


}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}