.topicos {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    padding: 1em 0;
    text-align: center;
}
.topicos__titulo {
    font-weight: 300;
    color: var(--branco);
    margin-bottom: 1.5em;
}
.topicos__lista {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}
.topicos__item {
    background-color: var(--laranja);
    padding: 1em;
    margin: 0.5em 0.5em;
    font-weight: 700;
    text-decoration: none;
}
.topicos__link {
    text-decoration: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;

}
@media screen and (min-width: 1024px) {
    .topicos {
        padding: 24px 140px;
    }
    .topicos__titulo {
        font-size: 24px;
    }
    .topicos__link {
        font-size: 24px;
    }
    .topicos__item {
        margin: 10em 12px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }
    .topicos__titulo {
        font-size: 32px;
    }
    .topicos__link {
        font-size: 24px;
    }
    .topicos__item {
        margin: 12px 12px;
    }
}
